# --- Token ---
.env

# --- Entorno virtual ---
venv/
.venv/
env/
bin/
lib/
share/
pyvenv.cfg

# --- Datos temporales ---
temp_data/

# --- Cache ---
__pycache__/

# --- Archivos de VSCode ---
.vscode/